[Unit]
Description=Thermal Grizzly WireView Pro II Varlink socket
Documentation=file:///usr/share/doc/wireviewd/README.md

[Socket]
ListenStream=/run/wireviewd/io.github.Gustav0ar.WireView
DirectoryMode=0755
SocketMode=0666
RemoveOnStop=yes
Service=wireviewd.service

[Install]
WantedBy=sockets.target
