[Unit]
Description=Thermal Grizzly WireView Pro II daemon
Documentation=file:///usr/share/doc/wireviewd/README.md
Requires=wireviewd.socket
After=wireviewd.socket
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/wireviewd
User=wireviewd
Group=wireview
UMask=0077
Restart=on-failure
RestartSec=2s
TimeoutStopSec=10s
NoNewPrivileges=yes
CapabilityBoundingSet=
DevicePolicy=closed
DeviceAllow=char-ttyACM rw
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateMounts=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectSystem=strict
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectProc=invisible
ProcSubset=pid
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
